<% layout('/layouts/boilerplate.ejs') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="mb-3"></div>
      <h3>Edit Listing</h3>
      <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            id="title"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            id="description"
            name="listing[description]"
            cols="30"
            rows="10"
            class="form-control"
            required
          >
<%= listing.description %></textarea
          >
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image:</label>
          <input
            type="text"
            id="image"
            name="listing[image]"
            value="<%= listing.image %>"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            id="price"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            id="location"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country: </label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <button class="btn btn-dark edit-btn">Update</button>
        </div>
      </form>
    </div>
  </div>
</body>
