<%- include("includes/head.ejs") %>
<body>
    <h2>This page is belongs to <%= data.name %></h2>
    <button>Follow</button>
    <button>Message</button>

    <p>Follower : <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; Following : <%= data.following %></p>

    <hr/>

    <% for(let post of data.posts) { %>
        <img src="<%= post.image %>" alt="some img">
        <p>Likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments : <%= post.comments %></p>
        <% } %>

        <%- include("includes/footer.ejs") %>   
        <script src="/app.js"></script>
</body>
</html>

